@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*{
  font-family: 'Share Tech Mono', monospace;
}

body{
  background-color: #192229;
  color: #c4eff7;
}

#board, .boardInfo{
  width: 500px;
  margin: auto;
}

#board{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#start, .boardInfo{
  font-size: 25px;
}

#gameOver{
  display: none;
  text-align: center;
  font-size: 20px;
}

.boardInfo{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#start{
  background-color: #f35a69;
  border: none;
  color: #fff;
  border-radius: 4px;
}

.scoreBoard{
  display: inline-block;
}

.square{
  aspect-ratio: 1;
}

.emptySquare{
  background-color: #7599ba;
}

.snakeSquare{
  background-color: #ccf47f;
}

.foodSquare{
  background-color: #f35a69;
}